.custBttnView{
    font-size: 13px; 
    border: 1px  ;
    padding: 10px;
    background-color:#333333 ;
    color: #FFFFFF;
    display: none;
}

.custBttnViewed{
    font-size: 13px; 
    border: 1px  ;
    padding: 10px;
    background-color:#333333 ;
    color: #FFFFFF;
    /* position:relative; */
}
